<div class="col-lg-3 col-md-4 col-sm-6 mix {{ products_card.collections.last.id }}">
  <div class="product__item">
    <div
      class="product__item__pic set-bg"
      data-setbg='
      {% if products_card.featured_image %}
        {{ products_card.featured_image | img_url: 'master' }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag }}
      {% endif %}'>
      <ul class="product__hover">
        <li>
          {% if products_card.featured_image %}
            <a href="{{ products_card.featured_image | img_url: 'master' }}" class="image-popup">
              <span class="icon-expand"></span>
            </a>
          {% else %}
            <a href="{{ 'product-1' | placeholder_svg_tag }}" class="image-popup">
              <span class="icon-expand"></span>
            </a>
          {% endif %}

        </li>
        <li>
          <a href="#">
            <span class="icon-heart"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="product__item__text">
      <h6>
        <a href="{{ products_card.url }}">{{ products_card.title }}</a>
      </h6>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      <div class="product__price">{{ products_card.price | money }}</div>
    </div>
  </div>
</div>