<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
      defer></script>

    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    {{ 'elegant-icons.css' | asset_url | stylesheet_tag }}
    {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
    {{ 'slicknav.min.css' | asset_url | stylesheet_tag }}
    {{ 'font_styles.css' | asset_url | stylesheet_tag }}
    {{ 'nice-select.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icon/elegant-icons@0.0.1-alpha.4/elegant-icons.min.css">
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    {% section 'header' %}

    {{ content_for_layout }}

    <!-- Discount Section Begin -->
    <section class="discount">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="discount__pic">
              <img src="img/discount.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="discount__text">
              <div class="discount__text__title">
                <span>Discount</span>
                <h2>Summer 2019</h2>
                <h5>
                  <span>Sale</span>
                  50%</h5>
              </div>
              <div class="discount__countdown" id="countdown-time">
                <div class="countdown__item">
                  <span>22</span>
                  <p>Days</p>
                </div>
                <div class="countdown__item">
                  <span>18</span>
                  <p>Hour</p>
                </div>
                <div class="countdown__item">
                  <span>46</span>
                  <p>Min</p>
                </div>
                <div class="countdown__item">
                  <span>05</span>
                  <p>Sec</p>
                </div>
              </div>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Discount Section End -->

    {% section 'footer' %}

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input
            type="text"
            id="search-input"
            placeholder="Search here.....">
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->

    <script src="{{ 'application.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery-3.3.1.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>
    <script src="{{ 'font-awesome.js' | asset_url }}" defer></script>
    <script src="{{ 'elegant-icons.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery-ui.min.js' | asset_url }}" defer></script>
    <script src="{{ 'mixitup.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.countdown.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.slicknav.js' | asset_url }}" defer></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.nicesroll.min.js' | asset_url }}" defer></script>
    <script src="{{ 'jquery.nice-select.js' | asset_url }}" defer></script>
    <script src="{{ 'main.js' | asset_url }}" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
  </body>
</html>