<!-- Categories Section Begin -->
<section class="categories">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6 p-0">
        <div class="categories__item categories__large__item set-bg" data-setbg="{{ section.settings.banner | img_url: 'master' }}">
          <div class="categories__text">
            <h1>{{ section.settings.collection.title }}</h1>

            <p>{{ section.settings.collection.description }}</p>
            <a href="{{ section.settings.collection.url }}">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="{{ section.settings.banner1 | img_url: 'master' }}">
              <div class="categories__text">
                <h4>{{ section.settings.collection1.title }}</h4>
                <p>{{ section.settings.collection1.description }}</p>
                <a href="{{ section.settings.collection1.url }}">{{ section.settings.button_text1 }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="{{ section.settings.banner2 | img_url: 'master' }}">
              <div class="categories__text">
                <h4>{{ section.settings.collection2.title }}</h4>

                {% if section.settings.select2 == "count" %}
                  <p>{{ section.settings.collection2.products_count }} items</p>
                {% else %}
                  <p>{{ section.settings.collection2.description }}</p>
                {% endif %}

                <a href="{{ section.settings.collection2.url }}">{{ section.settings.button_text2 }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="{{ section.settings.banner3 | img_url: 'master' }}">
              <div class="categories__text">
                <h4>{{ section.settings.collection3.title }}</h4>

                {% if section.settings.select3 == "count" %}
                  <p>{{ section.settings.collection3.products_count }} items</p>
                {% else %}
                  <p>{{ section.settings.collection3.description }}</p>
                {% endif %}

                <a href="{{ section.settings.collection3.url }}">{{ section.settings.button_text3 }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="{{ section.settings.banner4 | img_url: 'master' }}">
              <div class="categories__text">
                <h4>{{ section.settings.collection4.title }}</h4>

                {% if section.settings.select4 == "count" %}
                  <p>{{ section.settings.collection4.products_count }} items</p>
                {% else %}
                  <p>{{ section.settings.collection4.description }}</p>
                {% endif %}

                <a href="{{ section.settings.collection4.url }}">{{ section.settings.button_text4 }}</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- Categories Section End -->

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
      {
        "type": "header",
        "content": "Large banner"
      },
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Select a Picture"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select a Collection"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "header",
        "content": "First small banner"
      }, {
        "type": "image_picker",
        "id": "banner1",
        "label": "Select a Picture"
      }, {
        "type": "collection",
        "id": "collection1",
        "label": "Select a Collection"
      }, {
        "type": "text",
        "id": "button_text1",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "header",
        "content": "Second small banner"
      }, {
        "type": "image_picker",
        "id": "banner2",
        "label": "Select a Picture"
      }, {
        "type": "collection",
        "id": "collection2",
        "label": "Select a Collection"
      }, {
        "type": "text",
        "id": "button_text2",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "header",
        "content": "Third small banner"
      }, {
        "type": "image_picker",
        "id": "banner3",
        "label": "Select a Picture"
      }, {
        "type": "collection",
        "id": "collection3",
        "label": "Select a Collection"
      }, {
        "type": "text",
        "id": "button_text3",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "header",
        "content": "Fourth small banner"
      }, {
        "type": "image_picker",
        "id": "banner4",
        "label": "Select a Picture"
      }, {
        "type": "collection",
        "id": "collection4",
        "label": "Select a Collection"
      }, {
        "type": "select",
        "id": "select4",
        "label": "Select a Collection",
        "options": [
          {
            "label": "Products Count",
            "value": "count"
          }, {
            "label": "Description",
            "value": "description"
          }
        ],
        "default": "count"
      }, {
        "type": "text",
        "id": "button_text4",
        "label": "Button Text",
        "default": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}