<!-- Categories Section Begin -->
<section class="categories">
  <div class="container-fluid">
    <div class="row">

      {% for block in section.blocks %}
        {% case block.type %}

          {% when "large_banner" %}
          <div class="col-lg-6 p-0">
            <div class="categories__item categories__large__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
              <div class="categories__text">
                <h1>{{ block.settings.title }}</h1>
                <p>{{ block.settings.description }}</p>
                <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">

              {% when "small_banner_1" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_2" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_3" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_4" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        {% endcase %}
      {% endfor %}

    </div>
  </div>
</section>
<!-- Categories Section End -->

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Select a Picture"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Description"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "image_picker",
        "id": "banner1",
        "label": "Select a Picture"
      }, {
        "type": "text",
        "id": "title1",
        "label": "Title",
        "default": "Title"
      }, {
        "type": "text",
        "id": "description1",
        "label": "Description",
        "default": "Description"
      }, {
        "type": "url",
        "id": "button_url1",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "button_text1",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "image_picker",
        "id": "banner2",
        "label": "Select a Picture"
      }, {
        "type": "text",
        "id": "title2",
        "label": "Title",
        "default": "Title"
      }, {
        "type": "text",
        "id": "description2",
        "label": "Description",
        "default": "Description"
      }, {
        "type": "url",
        "id": "button_url2",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "button_text2",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "image_picker",
        "id": "banner3",
        "label": "Select a Picture"
      }, {
        "type": "text",
        "id": "title3",
        "label": "Title",
        "default": "Title"
      }, {
        "type": "text",
        "id": "description3",
        "label": "Description",
        "default": "Description"
      }, {
        "type": "url",
        "id": "button_url3",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "button_text3",
        "label": "Button Text",
        "default": "Button Text"
      }, {
        "type": "image_picker",
        "id": "banner4",
        "label": "Select a Picture"
      }, {
        "type": "text",
        "id": "title4",
        "label": "Title",
        "default": "Title"
      }, {
        "type": "text",
        "id": "description4",
        "label": "Description",
        "default": "Description"
      }, {
        "type": "url",
        "id": "button_url4",
        "label": "Button URL"
      }, {
        "type": "text",
        "id": "button_text4",
        "label": "Button Text",
        "default": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}