<!-- Banner Section Begin -->
{% for block in section.blocks %}
  {% case block.type %}
    <section class="banner spad">
      <div class="container">
        <div class="row">

          {% when first_block %}
          <div class="col-lg-7 offset-lg-4">
            <div class="banner__item">
              <div class="banner__item__pic">
                <img
                  src="{{ block.settings.banner_pic | img_url: 'master' }}"
                  alt="{{ block.settings.banner_pic.alt }}"
                  width=""
                  height="">
              </div>
              <div class="banner__item__text">
                <h2>{{ block.settings.collection.title }}</h2>
                <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
              </div>
            </div>
          </div>

          {% when second_block %}
          <div class="col-lg-5">
            <div class="banner__item banner__item--middle">
              <div class="banner__item__pic">
                <img src="img/banner/banner-2.jpg" alt="">
              </div>
              <div class="banner__item__text">
                <h2>Accessories</h2>
                <a href="#">Shop now</a>
              </div>
            </div>
          </div>

          {% when third_block %}
          <div class="col-lg-7">
            <div class="banner__item banner__item--last">
              <div class="banner__item__pic">
                <img src="img/banner/banner-3.jpg" alt="">
              </div>
              <div class="banner__item__text">
                <h2>Shoes Spring 2030</h2>
                <a href="#">Shop now</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  {% endcase %}
{% endfor %}
<!-- Banner Section End -->
{% schema %}
  {
    "name": "Banner Section",
    "blocks": [
      {
        "type": "first_block",
        "name": "First Banner",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_pic",
            "label": "Select Banner Image"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Select Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }
        ]
      }, {
        "type": "second_block",
        "name": "Second Banner",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_pic",
            "label": "Select Banner Image"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Select Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }
        ]
      }, {
        "type": "third_block",
        "name": "Third Banner",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_pic",
            "label": "Select Banner Image"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Select Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}