<!-- Categories Section Begin -->
<section class="categories">
  <div class="container-fluid">
    <div class="row">

      {% for block in section.blocks %}
        {% case block.type %}

          {% when "large_banner" %}
          <div class="col-lg-6 p-0">
            <div
              class="categories__item categories__large__item set-bg"
              data-setbg="{{ block.settings.banner | img_url: 'master' }}">
              <div class="categories__text">
                <h1>{{ block.settings.title }}</h1>
                <p>{{ block.settings.description }}</p>
                <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">

              {% when "small_banner_1" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h1>{{ block.settings.title }}</h1>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_2" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h1>{{ block.settings.title }}</h1>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_3" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h1>{{ block.settings.title }}</h1>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

              {% when "small_banner_4" %}
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item set-bg" data-setbg="{{ block.settings.banner | img_url: 'master' }}">
                  <div class="categories__text">
                    <h1>{{ block.settings.title }}</h1>
                    <p>{{ block.settings.description }}</p>
                    <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        {% endcase %}
      {% endfor %}

    </div>
  </div>
</section>
<!-- Categories Section End -->

{% schema %}
  {
    "name": "Banner Section",
    "blocks": [
      {
        "type": "large_banner",
        "limit": 1,
        "name": "Large banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Select a Picture"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_1",
        "limit": 1,
        "name": "Small banner 1",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Select a Picture"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_2",
        "limit": 1,
        "name": "Small banner 2",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Select a Picture"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      },
      {
        "type": "small_banner_3",
        "limit": 1,
        "name": "Small banner 3",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Select a Picture"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      }, {
        "type": "small_banner_4",
        "limit": 1,
        "name": "Small banner 4",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Select a Picture"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}