<footer class="py-5 px-3 mt-5 items-center bg-gray-50 pt-16 pb-12 sm:pt-10 md:pt-15 xl:pt-20 sm:pb-15">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-{{ section.settings.col_num }} gap-x-{{ section.settings.col_num }} gap-y-10">
      {% for block in section.blocks %}
        {% assign item = block.settings %}
        {% if block.type == "link_list" %}
          <div class="col">
            <h5 class="uppercase mb-2 font-medium">{{ item.title }}</h5>
            {% assign footer_linklist = item.menu %}
            <ul class="list-unstyled text-small">
              {% for link in linklists[footer_linklist].links %}
                <li>
                  <a href="{{ link.url }}" class="mb-1 hover:text-gray-400">{{ link.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% else if block.type == "text" %}
          <div class="col">
            {% if item.logo != blank %}
              <img
                src="{{ item.logo | img_url: 'medium' }}"
                class="mb-5"
                width=""
                height=""
                loading="lazy">
            {% endif %}
            <h5 class="uppercase mb-2 font-medium">{{ item.title }}</h5>
            <p>{{ item.description }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if section.settings.enable_payment_type_icons %}
    <div class="flex justify-center text-center items-center mt-10">
      {% for payment_type in shop.enabled_payment_types %}
        <img
          src="{{ payment_type | payment_type_img_url }}"
          width=""
          height=""
          loading="lazy">
      {% endfor %}
    </div>
  {% endif %}

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "range",
        "id": "col_num",
        "default": 3,
        "min": 2,
        "max": 4,
        "label": "Number of Columns"
      }, {
        "type": "checkbox",
        "id": "enable_payment_type_icons",
        "label": "Enable Payment Type Icons",
        "default": true
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "link_list",
        "name": "Navigation",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Quick Links"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      }, {
        "type": "text",
        "name": "Store details",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Store Logo"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Store information"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}