<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% assign item = block.settings %}
        {% case block.type %}

          {% when "store_details" %}
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                {% if item.logo != blank %}
                  <a href="{{ shop.url }}"><img
                      src="{{ item.logo | img_url: 'large' }}"
                      alt="{{ shop.name }}"
                      width=""
                      height=""></a>

                {% else %}
                  <a href="{{ shop.url }}">
                    <h6 style="font-family: Cookie,cursive;">{{ shop.name }}</h6>
                  </a>
                {% endif %}
              </div>
              <p>{{ item.description }}</p>
              {% if section.settings.enable_payment_type_icons %}
                <div class="footer__payment flex justify-space-evenly text-center g-5 items-center">
                  {% for payment_type in shop.enabled_payment_types %}
                    <img
                      src="{{ payment_type | payment_type_img_url }}"
                      width=""
                      height=""
                      loading="lazy">
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          {% when "link_list" %}
          <div class="col-lg-2 col-md-3 col-sm-5">
            <div class="footer__widget">
              <h6>{{ item.title }}</h6>
              {% assign footer_linklist = item.menu %}
              <ul>
                {% for link in linklists[footer_linklist].links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          {% when "newsletter" %}
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="footer__newslatter">
              <h6>NEWSLETTER</h6>
              <form action="#">
                <input type="text" placeholder="Email">
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
              <div class="footer__social">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fa fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text">
          <p>Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_payment_type_icons",
        "label": "Enable Payment Type Icons",
        "default": true
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "link_list",
        "name": "Navigation",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Quick Links"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      }, {
        "type": "store_details",
        "name": "Store details",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Store Logo"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter"
      }
    ]
  }
{% endschema %}