{% liquid 
    if section.settings.menu.links == blank
        assign main_menu_linklist = linklists[section.settings.menu].links
    else
        assign main_menu_linklist = section.settings.menu.links
    endif
%}

<!-- Offcanvas Menu Begin -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ link.title }}
              </a>
              <ul class="dropdown-menu">
                {% for childlink in link.links %}
                  <li>
                    <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title }}</a>
                  </li>
                {% endfor %}

              </ul>
            </li>

          {% else %}

            <li class="nav-item">
              <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
            </li>

          {% endif %}
        {% endfor %}
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- Header Section Begin -->

<!-- Header Section End -->



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}