{% liquid 
    if section.settings.menu.links == blank
        assign main_menu_linklist = linklists[section.settings.menu].links
    else
        assign main_menu_linklist = section.settings.menu.links
    endif
%}


<!-- Header Section Begin -->

<header class="d-none d-md-block header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>{{ section.settings.announcement }}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <a href="{{ routes.account_url }}">Account</a>
                  {{ 'Log out' | customer_logout_link }}
                {% else %}
                  {{ 'Log in ' | customer_login_link }}
                  {{ 'Register' | customer_register_link }}
                {% endif %}
              {% endif %}
            </div>
            <div class="header__top__hover">
              <span>Usd
                <i class="arrow_carrot-down"></i>
              </span>
              <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        {% if section.settings.logo != blank %}
          <div class="header__logo">
            <a href="{{ shop.url }}"><img
                src="{{ section.settings.logo | img_url: 'medium' }}"
                alt="{{ shop.name }}"
                width=""
                height=""
                loading="lazy"></a>
          </div>

        {% else %}
          <a href="{{ shop.url }}">
            <h1 class="header__logo text-xl font-bold truncate uppercase">{{ shop.name }}</h1>
          </a>
        {% endif %}
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            {% for link in main_menu_linklist %}
              {% if link.links != blank %}

                <li>
                  <a href="#">{{ link.title }}</a>

                  <ul class="dropdown">
                    {% for childlink in link.links %}
                      <li>
                        <a href="{{ childlink.url }}" class="hover:bg-gray-300 hover:text-gray-900">{{ childlink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>

              {% else %}

                <li class="aactive">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>

              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a href="#" class="search-switch">{{ 'search.png' | asset_img_url | img_tag }}</a>
          <a href="#">{{ 'heart.png' | asset_img_url | img_tag }}</a>
          <a href="#">{{ 'cart.png' | asset_img_url | img_tag }}<span>0</span>
          </a>
          <div class="price">$0.00</div>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<!-- Header Section End -->

<nav class="navbar d-lg-none">
  <div class="container-fluid">
    {% if section.settings.logo != blank %}
      <div class="navbar-brand">
        <a href="{{ shop.url }}"><img
            src="{{ section.settings.logo | img_url: 'medium' }}"
            alt="{{ shop.name }}"
            width=""
            height=""></a>
      </div>

    {% else %}
      <a href="{{ shop.url }}">
        <h1 class="navbar-brand uppercase truncate font-bold" href="{{ shop.url }}">{{ shop.name }}</h1>
      </a>
    {% endif %}
    <button
      class="canvas_open align-content-center"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation">
      <span class="">{% render 'icon-menu' %}</span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-white">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 header-menu">
          {% for link in main_menu_linklist %}
            {% if link.links != blank %}

              <li class="nav-item dropdown pl-3 pr-3">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ link.title }}
                </a>
                <ul class="dropdown-menu">
                  {% for childlink in link.links %}
                    <li>
                      <a href="{{ childlink.url }}" class="dropdown-item">{{ childlink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>

            {% else %}

              <li class="nav-item pl-3 pr-3">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
              </li>

            {% endif %}
          {% endfor %}
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}