<!-- Services Section Begin -->
<section class="services spad">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% case block.type %}

          {% when 'shipping' %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-car"></i>
              <h6>{{ block.settings.title }}</h6>
              <p>{{ block.settings.description }}</p>
            </div>
          </div>

          {% when 'money_back' %}
          <div
            class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-money"></i>
              <h6>{{ block.settings.title }}</h6>
              <p>{{ block.settings.description }}</p>
            </div>
          </div>

          {% when 'support' %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-support"></i>
              <h6>{{ block.settings.title }}</h6>
              <p>{{ block.settings.description }}</p>
            </div>
          </div>

          {% when 'payment' %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="services__item">
              <i class="fa fa-headphones"></i>
              <h6>{{ block.settings.title }}</h6>
              <p>{{ block.settings.description }}</p>
            </div>
          </div>

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- Services Section End -->

{% schema %}
  {
    "name": "Our Services",
    "blocks": [
      {
        "type": "shipping",
        "name": "Shipping",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }
        ]
      }, {
        "type": "money_back",
        "name": "Money Back",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }
        ]
      }, {
        "type": "support",
        "name": "Support",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }
        ]
      }, {
        "type": "payment",
        "name": "Payment",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }, {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Our Services"
      }
    ]
  }
{% endschema %}