<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{{ section.blocks.settings.image | img_url: 'master' }}">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <div class="banner__slider owl-carousel">
          {% for block in section.blocks %}
            <div class="banner__item set-bg" data-setbg="{{ section.blocks.settings.image | img_url: 'master' }}">
              <div class="banner__text">
                <span>{{ block.settings.collection.title }}</span>
                <h1>{{ block.settings.product.title }}</h1>
                <a href="{{ block.settings.product.url }}">{{ block.settings.btn_text }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

{% schema %}
  {
    "name": "SlideShow",
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select picture"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Choose collection"
          }, {
            "type": "product",
            "id": "product",
            "label": "Select Product"
          }, {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "Button text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}