<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{{ shop.url }}"><i class="fa fa-home"></i> Home</a>
                    <a href="{{ blog.url }}">{{ blog.title }}</a>
                    <span>{{ article.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Details Section Begin -->
<article class="blog-details spad" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="blog__details__content">

          <div class="blog__details__item">
            <div itemprop="image">
              {% if article.image != blank %}
              <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" width="" height="" />
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'bg-gray-200 h-auto w-96' }}
              {% endif %}
            </div>
            <div class="blog__details__item__title">
              <span class="tip">{{ blog.title }}</span>
              <h4 itemprop="headline">
                {{ article.title }}
              </h4>
              <ul>
                {% if section.settings.show_article_aurthor %}
                <li><div itemscope itemtype="http://schema.org/Person">by <span itemprop="author">{{ article.author }}</span></div></li>
                {% endif %}

                {% if section.settings.show_article_date %}
                <li><time datetime="{{ article.created_at | date: '%Y-%m-%d' }}" itemprop="dateCreated datePublished">{{ article.published_at | date: '%B, %Y' }}</time></li>
                {% endif %}

                <li>{{ article.comments_count }} Comment{% if article.comments_count > 1 %}s{% endif %}</li>
              </ul>
            </div>
          </div>

          <div class="blog__details__desc" itemprop="articleBody">
            {{ article.content }}
          </div>

          {% if section.settings.show_tags_in_article %}
            <div class="blog__details__tags">
              {% for tag in article.tags %}
                <a href="{{ tag.url }}">{{ tag.title }}</a>
              {% endfor %}
            </div>
          {% endif %}

          <div class="blog__details__btns">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__details__btn__item">
                  <h6>
                    {% if blog.previous_article.url != blank %}
                      <a href="{{ blog.previous_article.url }}"><i class="fa fa-angle-left"></i> Previous article</a> 
                    {% endif %}
                  </h6>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__details__btn__item blog__details__btn__item--next">
                  <h6>
                    {% if blog.next_article.url != blank %}
                      <a href="{{ blog.next_article.url }}">Next article <i class="fa fa-angle-right"></i></a>
                    {% endif %}
                  </h6>
                </div>
              </div>
            </div>
          </div>

          {% if blog.comments_enabled? %}
            <div class="blog__details__comment" itemprop="comment">
              <h5>{{ article.comments_count }} Comment{% if article.comments_count > 1 %}s{% endif %}</h5>
              <a href="#comment-form" class="leave-btn">Leave a comment</a>

              {% paginate article.comments by 2 %}
                {% for commentt in article.comments %}
                  <div class="blog__comment__item">
                    <div class="blog__comment__item__text">
                      <h6>{{ commentt.author }}</h6>
                      <p>
                        {{ commentt.content }}
                      </p>
                      <ul>
                        <li><i class="fa fa-clock-o"></i> {{ commentt.created_at | date: '%B, %Y' }}</li>
                      </ul>
                    </div>
                  </div>

                  {% for reply in commentt.replies %}
                    <div class="blog__comment__item blog__comment__item--reply">
                      <div class="blog__comment__item__text">
                        <h6>{{ reply.author }}</h6>
                        <p>
                          {{ reply.content }}
                        </p>
                        <ul>
                          <li><i class="fa fa-clock-o"></i> {{ reply.created_at | date: '%B, %Y' }}</li>
                        </ul>
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}

                {% render 'pagination', pagination: paginate %}

              {% endpaginate %}
            </div>

            <div id="comment_form #comment-form" class="mb-3">
              {% form 'new_comment', article %}
                <div class="flex-1 mx-auto items-center justify-center max-w-4xl">
                  {% render 'form-errors', form: form %}
                  
                  <div class="md:flex mb-3">
                    <div class="px-1 md:w-1/2">
                    <label for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
                    <input 
                      type="text" 
                      name="comment[author]" 
                      id="comment_author" 
                      class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none" 
                      placeholder="Mackie" required></input>
                    </div>
                    <div class="px-1 md:w-1/2">
                    <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">Email</label>
                    <input 
                      type="text" 
                      name="comment[email]" 
                      id="comment_email" 
                      class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none" 
                      placeholder="email@myshopify.com" required></input>
                    </div>
                  </div>

                  <div class="md:flex mb-3">
                    <div class="md:w-full px-1">
                      <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
                      <textarea class="w-full text-gray-700 resize-none h-20 py-2 px-3 focus:outline-none border" name="comment[body]" id="comment_content" required></textarea>
                    </div>
                  </div>
                  <div class="md:flex">
                    <div class="md:w-full px-1">
                      <input type="submit" class="w-full cursor-pointer px-4 py-2 border text-base font-medium text-white bg-gray-900 hover:bg-gray-500 text-center" value="Post Comment">
                    </div>
                  </div>
                </div>
              {% endform %}
            </div>

          {% endif %}
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="blog__sidebar">
          {% for block in section.blocks %}
            {% case block.type %}

              {% when 'recent_articles' %}
                <div class="blog__sidebar__item">
                  <div class="section-title">
                    <h4>Recent Articles</h4>
                  </div>
                  {% for article in blog.articles limit: block.settings.number_of_recent_articles %}
                    <a href="#" class="blog__feature__item">
                      <div class="blog__feature__item__pic">
                        {% if article.image != blank %}
                          <img src="{{ article.image | img_url: 'small' }}" alt="{{ article.image.alt }}" width="" height="" class="w-20 h-auto" />
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'bg-gray-200 h-auto w-20' }}
                        {% endif %}
                      </div>
                      <div class="blog__feature__item__text">
                        <h6>{{ article.title }}</h6>
                        <span>{{ article.published_at | date: '%B, %Y' }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>

              {% when 'sidebar_tags' %}
                <div class="blog__sidebar__item">
                  <div class="section-title">
                    <h4>Tags</h4>
                  </div>
                  <div class="blog__sidebar__tags">
                    {% for tag in article.tags %}
                      <a href="{{ tag.url }}">{{ tag.title }}</a>
                    {% endfor %}
                  </div>
                </div>
                
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
<!-- Blog Details Section End -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": {{ article.title | json }},
  "datePublished": {{ article.published_at | date: format: 'default' | json }},
  "dateCreated": {{ article.created_at | date: format: 'default' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  {% if article.image %}
    "image": [
      {{ article.image | img_url: 'medium' | prepend: 'https:' | json }}
    ],
  {% endif %}
  {% if article.excerpt != blank %}
    "excerpt": {{ article.excerpt | strip_html | json }},
  {% endif %}
  "articleBody": {{ article.content | strip_html | json }}
}
</script>

{% schema %}
  {
    "name": "Article Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_article_aurthor",
        "label": "Show Article Author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_article_date",
        "label": "Show Article Date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags_in_article",
        "label": "Show Tags in Article",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "recent_articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "number",
            "id": "number_of_recent_articles",
            "label": "Number of Recent Articles",
            "default": 3
          }
        ]
      },
      {
        "type": "sidebar_tags",
        "name": "Sidebar Tags",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Tags"
          }
        ]
      }
    ]
  }
{% endschema %}