<div class="max-w-6xl mx-auto px-4">
  {% paginate search.results by section.settings.number_of_search_results %}
    <h1 class="text-xl my-4 text-center">Search Results</h1>

    <div class="footer__newsletter justify-center items-center mx-auto">
      <form
        action="{{ routes.search_url }}"
        method="get"
        class="">
        <input
          type="search"
          name="q"
          placeholder="Search"
          value"{{ search.terms | escape }}"
          class="field__input">

        <button type="submit" class="site-btn">Search</button>
      </form>
    </div>

    {% if search.performed %}
      {% if search.results.size > 0 %}
        <p class="text-center my-10 text-gray-500">{{ search.results.size }} results found for the search term
          <b>{{ search.terms | escape }}</b>
        </p>
        <div class="row property__gallery">
          {% for item in search.results %}
            {% case item.object_type %}
              {% when 'product' %}
              {% render 'product-card', products_card: item %}

            {% endcase %}
          {% endfor %}
        </div>

      {% else %}
        <div class="text-center my-4">
          <p>No results found for the search term:
            <b>{{ search.terms | escape }}</b>. Try a different keyword</p>
        </div>
      {% endif %}
    {% endif %}

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Search Results",
    "settings": [
      {
        "type": "number",
        "id": "number_of_search_results",
        "label": "Number of Search Results Per Page",
        "default": 10
      }
    ]
  }
{% endschema %}