{{ 'filter.css' | asset_url | stylesheet_tag }}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{{ shop.url }}">
            <i class="fa fa-home"></i>
            Home</a>
          <span>{{ collection.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="container">
  <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block">Go back to collections</a>

  <div class="product spad">
    {% paginate collection.products by section.settings.number_of_products_per_page %}

      <div class="section-title">
        <h4>{{ collection.title }}</h4>
      </div>

      <form class="filter-form">
        {%- for filter in collection.filters -%}
          <details class="filter-group">
            <summary class="filter-group-summary">
                <span>{{ filter.label }}</span>

                {%- if filter.active_values.size > 0 -%}
                  <span>({{ filter.active_values.size }})</span>
                {%- endif -%}
            </summary>

            <div class="filter-group-display">
              <div class="filter-group-display__header">
                <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

                {%- if filter.active_values.size > 0 -%}
                  <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
                {%- endif -%}
              </div>

              {%- case filter.type -%}
                {%- when 'boolean' or 'list' -%}
                  <ul class="filter-group-display__list">
                    {%- for filter_value in filter.values -%}
                      <li class="filter-group-display__list-item">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                        <input type="checkbox"
                          name="{{ filter_value.param_name }}"
                          value="{{ filter_value.value }}"
                          onclick="submit()"
                          id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                          {% if filter_value.active -%}checked{%- endif %}
                          {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                        >{{ filter_value.label }}</label>
                      </li>
                    {%- endfor -%}
                  </ul>

                  <div class="filter-group-display__submit">
                    <input type="submit" value="Apply">
                  </div>
                {%- when 'price_range' -%}
                  <div class="filter-group-display__price-range">
                    <div class="filter-group-display__price-range-from">
                      The highest price is {{ filter.range_max | money_without_currency | replace: ',', '' }}
                      <span>{{ cart.currency.symbol }}</span>

                      <input name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.min_value.param_name }}"
                        {% if filter.min_value.value -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="From"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
                    </div>
                    <div class="filter-group-display__price-range-to">
                      <span>{{ cart.currency.symbol }}</span>

                      <input name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.max_value.param_name }}"
                        {% if filter.max_value.value -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="To"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
                    </div>
                  </div>

                  <div class="filter-group-display__submit">
                    <input type="submit" value="Apply">
                  </div>
              {%- endcase -%}
            </div>
          </details>
        {%- endfor -%}

        <div class="active-filters">
          <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>

          {%- for filter in collection.filters -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                  {%- assign min_value = filter.min_value.value | default: 0 -%}
                  {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                  {{ min_value | money }} - {{ max_value | money }} X
                </a>
              {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                  {{ filter.label }}: {{ filter_value.label }} X
                </a>
              {%- endfor -%}
            {%- endif- %}
          {%- endfor -%}
        </div>
      </form>


      <div class="container">
        <label for="sort-by">Sort by</label> 
        <select id="sort-by" class="sort-by">
          {% for option in collection.sort_options %}
            {% if option.value == "title-ascending" %}
              <option value="{{ option.value }}"{% if option.value == collection.sort_by %} selected{% endif %}>A - Z</option>
              
            {% elsif option.value == "title-descending"%}
              <option value="{{ option.value }}"{% if option.value == collection.sort_by %} selected{% endif %}>Z - A</option>

            {% else %}
              <option value="{{ option.value }}"{% if option.value == collection.sort_by %} selected{% endif %}>{{ option.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="max-w-6xl mx-auto">
        <div class="row property__gallery">
          {% for product in collection.products %}
            {% render 'product-card', products_card: product %}

          {% else %}
            {% for item in (1..3) %}
              {% render 'product-card-placeholder' %}
            {% endfor %}
            <p>There are no products available</p>
          {% endfor %}
        </div>
      </div>

      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
  </div>
</div>

<script type="text/javascript">
  // Save existing sort parameters
  Shopify.queryParams = {};
  if(location.search.length) {
    for(var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
      
  // Add existing sort parameters to current URL
  document.querySelector('.sort-by').addEventListener('change', function(e) {
    var value = e.currentTarget.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "range",
        "id": "number_of_products_per_page",
        "min": 1,
        "max": 15,
        "default": 8,
        "label": "Number of products per page"
      }, {
        "type": "checkbox",
        "id": "display_vendor",
        "label": "Display Vendor Information",
        "default": true
      }
    ]
  }
{% endschema %}